.pointer {
    cursor: pointer;
}

.maincolor {
   background-color: #FAEBD7;
}

.secondarycolor {
    background-color: #FFE4C4;
}

.borderbottom {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #D4BDA3;
}

.headercolor {
    background-color: #DC4F52;
}

.itemcolor {
    background-color: #F2D8BA;
}

.secondaryitemcolor{
    background-color: #F7DCBD;
}

.borderall {
    border: 1px solid #D4BDA3;
}
