{% for employee in employees_by_skill %}


<div class="card rounded-3 shadow-sm border-0">

    <div class="card-header bg-transparent border-0 d-flex justify-content-center">
        <img class="w-90 img-fluid rounded-3" src="{{ employee.photo.url }}" alt="{{ employee.full_name }}">
    </div>

    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item fs-4">{{ employee.full_name }}</li>
            <li class="list-group-item fs-6">{{ employee.post }}</li>
            <li class="list-group-item fs-6">{{ employee.sector.department }}</li>
            <li class="list-group-item fs-6">{{ employee.phone }}</li>
        </ul>
    </div>

    <div class="buttons d-flex flex-column mx-3 mb-3">
        <button name="card" class="btn btn-info mt-3" onclick="showEmployeeDetail({{ employee.id }})">Карточка</button>
    </div>
</div>

{% endfor %}