{% extends 'general/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load skills %}


{% block 'content' %}
<div class="d-flex flex-column align-items-center flex-shrink-0" style="min-width:380px;">
    <div class="mb-5">
        <form class="itemcolor borderall rounded-3 p-3">
            {{ sort_filter_form|crispy }}
            <button class="btn btn-info">Показать</button>
        </form>
    </div>
</div>
<div class="d-flex flex-column align-items-center flex-shrink-0 w-100">
    {% if object_list %}
        {% for a_group in grouped_empskill_list %}
            <h3>{{ a_group.0.sector.name }} СЕКТОР</h3>
            <h4>МАТРИЦА НАВЫКОВ</h4>
            <div class="d-flex flex-wrap mx-5">

                <figure class="figure" style="background-color: #17a917; height: 20px; width: 20px;"></figure>
                <p class="ms-2 me-4">Прошел полную подготовку</p>

                <figure class="figure" style="background-color: lime; height: 20px; width: 20px;"></figure>
                <p class="ms-2 me-4">Самостоятельно выполняет работу</p>

                <figure class="figure" style="background-color: yellow; height: 20px; width: 20px;"></figure>
                <p class="ms-2 me-4">Работает под наблюдением наставника</p>

                <figure class="figure" style="background-color: orange; height: 20px; width: 20px;"></figure>
                <p class="ms-2 me-4">Владеет теорией</p>

                <figure class="figure" style="background-color: red; height: 20px; width: 20px;"></figure>
                <p class="ms-2 me-4">Не имеет навыка</p>

            </div>
            <div class="table-responsive w-75 borderbottom my-3">
                <table class="table table-bordered table-sm text-center align-middle rounded-3">
                    {% handle_group a_group.0 %}
                    <tbody>
                    {% for employee in a_group %}
                        <tr><td class="table-primary">{{ employee.full_name }}, {{ employee.post }}</td>{% get_skills employee %}<tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}

